# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry  xx

azure-identity
azure-storage-blob
azure-monitor-query
geoip2
azure-functions
